<!DOCTYPE html>
<html>
<head>
  <title>Wildfox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--<script src="//cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>-->

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
